all:
  hosts:
    {%- for vm_name, attributes in vms.items() %}
    {{ vm_name }}:
      network_interfaces:
        - interface: eth1
          ip4: {{ attributes['ip'] }}
          network: {{ vms_network }}
    {% endfor %}