# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|

  config.vm.box = "{% if vm_box is defined -%}{{ vm_box }}{% else %}generic/rhel9{%- endif %}"
  {% if 'http_proxy' is defined -%}
  config.vagrant.plugins = ["vagrant-proxyconf"]
  config.proxy.http = "{{ http_proxy }}"
  config.proxy.no_proxy = "localhost,127.0.0.1"
  {% if 'https_proxy' is defined -%}
  config.proxy.https = "{{ https_proxy }}"
  {% endif -%}
  {% endif -%}
  {% if ssh_host is defined -%}
  config.ssh.host = "{{ ssh_host }}"
  {% endif -%}
  {% if ssh_insert_key is defined -%}
  config.ssh.insert_key = {{ ssh_insert_key }}
  {% endif -%}
  {% if ssh_private_key_path is defined -%}
  config.ssh.private_key_path = "{{ ssh_private_key_path }}"
  {% endif -%}

  {% if vms is defined -%}
  {% for name, attributes in vms.items() -%}
  config.vm.define :{{ name }} do |c|
    c.vm.hostname = "{{ attributes['hostnames']['primary'] }}"
    c.vm.network :private_network, ip: "{{ attributes['ip'] }}", auto_config: false
    
    {% if 'networks' in attributes -%}
    {% for network in attributes['networks'] -%}
    c.vm.network :{{ network['type'] }}, ip: "{{ network['ip'] }}"
    {% endfor -%}
    {% endif -%}

    {% if 'port_forwarding' in attributes -%}{% for guest, host in attributes['port_forwarding'] -%}
    c.vm.network :forwarded_port, guest: {{ guest }}, host: {{ host }}, auto_correct: true
    {% endfor -%}
    {% endif -%}

    {% if attributes['group'] == 'management' %}
    c.vm.provision :ansible do |ansible|
      ansible.playbook = "../playbooks/playbook.yml"
      {% if 'http_proxy' is defined -%}
      ansible.extra_vars = {
        http_proxy: "{{ http_proxy }}",
        {% if 'https_proxy' is defined -%}
        https_proxy: "{{ https_proxy }}"
        {% endif -%}
      }
      {% endif -%}
    end
    {% endif %}

    {% if 'disks' in attributes -%}
    c.vm.provider :virtualbox do |vb|

      {% for disk in attributes['disks'] -%}
      disk_path = File.expand_path("./{{ name }}-disk-{{ loop.index }}.vmdk")
      disk_port = "{{ loop.index0 + 1 }}" # 1-based port number
      
      unless File.exist?(disk_path)
        vb.customize ['createhd', '--filename', disk_path, '--size', "{{ disk['size'] }}"]
        vb.customize ['storageattach', :id, '--storagectl', 'SATA Controller', '--port', disk_port, '--device', '0', '--type', 'hdd', '--medium', disk_path]
      end

      {% endfor -%}
    end
    {% endif -%}

  end

  {% endfor -%}
  {% endif -%}
end
